<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="menu.Properties.Settings.kantinAmikomConnectionString"
            connectionString="Data Source=DESKTOP-ABD7H3A;Initial Catalog=kantinAmikom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>